body {
    background: linear-gradient(to right, #00FFFF, #00FF00);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Radio Canada', sans-serif;
    font-size: 18px;
  }
  main {
    padding: 50px 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  }
  input {
    border-width: 2px;
    border-style: solid;
    width: 300px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  input:focus {
    outline: none;
    border-color: #11BFAD;
  }
  small {
    color: #686868;
    font-size: 12px;
  }